.RegisterUser{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color:#00011C80;
    z-index: 50;
}
.formsSuccessRegister{
    width: 50%;
    min-height: 45%;
    background-color: #F7F7F7;
    margin: auto;
    border-radius: 5px;
    transform: translateY(50%);
    padding-bottom: 60px;
}
@media(max-width:1000px){
    .formsSuccessRegister{
        width: 90%;
    }
   
}


.informSuccess{
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
transform: translateY(25px);
}
.btnInpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.btnInpu button{
    width: fit-content;
    font-size: 12px;
    border: none;
    width: 200px;
    padding: 5px 10px;
    background-color: transparent;
    color: #3035A1;
    border-radius: 5px;
}
.btnInpu button:first-child{
    border: none;
    width: 150px;
    padding: 4px 20px;
    background-color: #3035A1;
    color: white;
}
.btnInpu span{
    text-decoration:underline;
}